.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.progress {
    width: 40%;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-value {
    background: linear-gradient(to right, #4caf50, #81c784);
    border-radius: 8px;
}
