.container {
    position: fixed;
    left: 0;
    width: 450px;
    height: 100%;
    overflow: auto;
    transform: translate(-450px);
    transition: transform 1s ease;
}

.container_open {
    transform: translate(0);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
    min-height: 100%;
    padding: 50px 20px;
    background-color: #ffffff;
}

.container::-webkit-scrollbar {
    width: 12px;
}

.container::-webkit-scrollbar-track {
    background: #fff;
}

.container::-webkit-scrollbar-thumb {
    background-color: #f4a261;
    border-radius: 20px;
    border: 3px solid #fff;
}
