*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 20px;
    border: 1px solid #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border: 1px solid transparent;
    padding: 4px 8px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    border-radius: 8px;
    color: #fff;
}
button:hover {
    background-color: #3d3838;
}

input {
    background-color: transparent;
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

li {
    list-style: none;
    text-align: start;
}

.img {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descriptionContainer {
    max-width: 300px;
    text-align: center;
    word-break: break-all;
}

.buttonContainer {
    display: flex;
    gap: 2px;
}

.todoList {
    margin: 50px auto;
}

.todoListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrapperBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bodyTodo {
    border-radius: 8px;
    background-color: #1a1a1a;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.bodyList {
    width: 100%;
    height: 100%;
}

.itemContainer {
    display: flex;
    gap: 8px;
    width: 100%;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 8px;
    background-color: #242424;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 8px;
}

.item {
    padding: 0.6em 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todoInput {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
}

.listPlaceholder {
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
}
