.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    gap: 20px;
    height: 80vh;
}

.button {
    font-size: 60px;
    color: #fff;
}

.div {
    border: 1px solid #fff;
    font-size: 60px;
    padding: 0 10px;
}
